<div class="main-content">
    <div class="container-fluid">
        <div class="row" *ngIf="showPlanStepper">
            <div class="col-12">
                <planning-stepper [provinces]="provinces" [plan]="editPlan"></planning-stepper>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Simple Table</h4>
                        <p class="card-category"> Here is a subtitle for this table</p>
                    </div>
                    <div class="card-body">
                        <mat-paginator #planPaginator [length]="page.totalElements" [pageSize]="page.size" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                        <mat-accordion class="plan-headers-align">
                            <mat-expansion-panel *ngFor="let plan of plans" [expanded]="step === 0" (opened)="loadTour(plan)" hideToggle>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        <span><b>#{{ plan.id }} </b> {{ plan.name }}</span>
                                    </mat-panel-title>
                                    <mat-panel-description>
                                        Tour#{{ plan.tourId }}
                                    </mat-panel-description>
                                </mat-expansion-panel-header>

                                <ng-template matExpansionPanelContent>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <img class="img-fluid mx-auto d-block" [src]="tourExpanded?.imageUrl" alt="">
                                        </div>
                                        <div class="col-md-8">
                                            <p><b>Tên tour:</b> {{ tourExpanded?.name }}</p>
                                            <p><b>Khởi hành:</b> {{ plan.startTime | vdatetime }}</p>
                                            <p><b>Thời gian:</b> {{ tourExpanded?.numberOfDate }} ngày {{ tourExpanded?.numberOfNight }} đêm</p>
                                            <p><b>Số vé:</b> {{ plan.numberOfReservedSlot }}/{{ plan.numberOfSlot }}</p>
                                            <p><b>Giá vé (trẻ em/người lớn):</b> {{ plan.childPrice }}/
                                                {{plan.adultPrice }}</p>
                                            <p><b>Địa diểm:</b> {{ placeNames }}</p>
                                            <p><b>Lịch trình:</b>
                                                <a href="/data/contents/{{ tourExpanded?.fileContentUrl }}" target="_blank">
                                                    xem chi tiết</a></p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 pt-2">
                                            <b>Tóm tắt:</b>
                                            <pre> {{ tourExpanded?.description }}</pre>
                                        </div>
                                    </div>
                                </ng-template>

                                <mat-action-row>
                                    <button mat-stroked-button color="warn" class="m-2">
                                        <mat-icon>delete</mat-icon> Xóa plan
                                    </button>
                                    <button mat-stroked-button color="primary" class="m-2"
                                            (click)="editPlan = plan; showPlanStepper = !showPlanStepper;">
                                        <mat-icon>edit</mat-icon> Điều chỉnh plan
                                    </button>
                                </mat-action-row>
                            </mat-expansion-panel>
                        </mat-accordion>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>