<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title ">Simple Table</h4>
            <p class="card-category"> Here is a subtitle for this table</p>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

              <table class="table" mat-table [dataSource]="tourPlans" multiTemplateDataRows>
                <!-- ID Column -->
                <ng-container matColumnDef="id">
                  <th mat-header-cell class="text-primary" *matHeaderCellDef> ID </th>
                  <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="name">
                  <th mat-header-cell class="text-primary" *matHeaderCellDef> Name </th>
                  <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>

                <!-- Number Of Date/Night -->
                <ng-container matColumnDef="noDN">
                  <th mat-header-cell class="text-primary" *matHeaderCellDef> Number Of Date/Night </th>
                  <td mat-cell *matCellDef="let element">{{ element.numberOfDate }}/{{ element.numberOfNight
                    }}</td>
                </ng-container>

                <!-- Action -->
                <ng-container matColumnDef="action" stickyEnd>
                  <th mat-header-cell class="text-primary" *matHeaderCellDef style="background-color: white"> Action
                  </th>
                  <td mat-cell *matCellDef="let element" style="background-color: white">
                    <button mat-stroked-button color="accent" class="text-primary" (click)="openDialogAddPlan(element)">Planning</button>
                  </td>
                </ng-container>

                <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
                <ng-container matColumnDef="expandedDetail">
                  <td class="pt-0 pb-0" mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
                    <div class="tour-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                      <mat-list class="w-100">
                        <mat-list-item class="w-100" *ngFor="let plan of element.plans">
                          <mat-divider></mat-divider>
                          <img matListAvatar [src]="element.imageUrl">
                          <h3 matLine>
                            <a href="#" (click)="$event.preventDefault(); openDialogUpdatePlan(plan);">ID: [{{ plan.id }}] </a>
                          </h3>
                          <p matLine>
                            <b>Start time:</b> {{ plan.startTime}},
                            <b>Slots:</b> {{ plan.numberOfReservedSlot }}/ {{ plan.numberOfSlot }}
                            <b>Price:</b> {{ plan.childPrice | currency: 'VND' }} - {{ plan.adultPrice | currency:
                            'VND' }}
                          </p>
                          <button mat-icon-button (click)="deletePlan(plan)">
                            <i class="material-icons text-danger">clear</i>
                          </button>
                        </mat-list-item>
                      </mat-list>
                    </div>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
                <tr mat-row *matRowDef="let element; columns: columnsToDisplay;" class="tour-row"
                  [class.tour-expanded-row]="expandedElement === element" (click)="expandedElement = element">
                </tr>
                <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="tour-detail-row"></tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>