.plan-headers-align .mat-expansion-panel-header-title,
.plan-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.plan-headers-align .mat-expansion-panel-header-description {
  max-width: 10%;
  justify-content: flex-end;
  align-items: center;
}

.plan-headers-align .mat-expansion-panel-header-title {
  white-space: nowrap;
}

pre {
  font-size: 1em;
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
  white-space: pre-wrap; /* Since CSS 2.1 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
}
