<div class="card" xmlns="http://www.w3.org/1999/html">
    <div class="card-header card-header-danger">
        <h4 class="card-title ">Danh sách các tour</h4>
        <p class="card-category">Tổng cộng {{ page.totalElements }} tour</p>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <mat-paginator [length]="page.totalElements" [pageSize]="page.size"
                           [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

            <table mat-table class="table" [dataSource]="tours" multiTemplateDataRows>
                <!-- ID Column -->
                <ng-container matColumnDef="id" sticky>
                    <th mat-header-cell class="text-primary" *matHeaderCellDef style="min-width: 120px">Mã tour</th>
                    <td mat-cell *matCellDef="let tour" class="border-0"> {{ tour.id }}</td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="name">
                    <th mat-header-cell class="text-primary" *matHeaderCellDef>Tên tour</th>
                    <td mat-cell *matCellDef="let tour" class="border-0 w-100" style="white-space:nowrap"> {{ tour.name }}</td>
                </ng-container>

                <!-- Action Column -->
                <ng-container matColumnDef="action" stickyEnd>
                    <th mat-header-cell class="text-primary bg-white" *matHeaderCellDef style="min-width: 120px">Thao tác</th>
                    <td mat-cell *matCellDef="let tour" class="border-0 bg-white">
                        <button mat-icon-button class="text-warning" (click)="editTour($event, tour)" matTooltip="Sửa tour">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-icon-button class="text-danger" (click)="deleteTour($event, tour)" matTooltip="Xóa tour">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
                <ng-container matColumnDef="expandedDetail">
                    <td mat-cell class="pt-0 pb-0 border-0" *matCellDef="let tour"
                        [attr.colspan]="displayedColumns.length">
                        <div class="tour-detail"
                             [@detailExpand]="tour == expandedTour ? 'expanded' : 'collapsed'">
                            <div class="card shadow-none">
                                <div class="row container">
                                    <div class="col-5 d-flex flex-column justify-content-around">
                                        <img [src]="tour.imageUrl" alt="" class="img-fluid p-2">
                                    </div>
                                    <div class="col-7">
                                        <p class="card-text">
                                            <span><pre>{{ tour.description }}</pre></span>
                                        </p>
                                        <p class="card-text">
                                            <small>
                                                <b>Thời gian:</b> {{ tour.numberOfDate }} ngày
                                                {{tour.numberOfNight }} đêm
                                            </small>
                                        </p>
                                        <a href="/data/contents/{{ tour.fileContentUrl}}"
                                           class="card-link" target="_blank">Xem nội dung file HTML</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let tour; columns: displayedColumns;" class="tour-row"
                    [class.tour-expanded-row]="expandedTour === tour" (click)="expandedTour = tour">
                </tr>
                <tr mat-row *matRowDef="let row; columns: ['expandedDetail']"
                    class="tour-detail-row border-0"></tr>
            </table>
        </div>
    </div>
</div>